/*Ori Amir 305399420 ,Matan Antebi 303093587 ,Nevo Sayag 200484426 */

/*orgnize places on guests page */
.guestsTblDiv
{
    width:80%;    
}

.guestsPic
{
    width:30%;
    float: right;
}

/*Design of the guests page */
.guestDiv
{
    width: 100%;
    height: 100%;
    font-family: fantasy;
    font-size:15px;
    display:none;
}
.guestsLbls {
    margin-bottom: 20px;
}
/*space between lables */
#marginLabel
{
    margin-left:20px;
}